includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    excludePaths:
        - storage/framework/views/*
        - resources/views/*.test.php
        - resources/views/**/*.test.php

    level: 7
